.map {
    flex: 1;
    background-color: #eaeaea;
    position: relative;
}

.map-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #666;
}
