.sidebar {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.search{
    text-align: center;
}

.recommendation h3,
.search h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sort-indicator {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
}

.station {
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.station-info {
    display: flex;
    align-items: center;
}

.station-body-container {
    display:flex;

}

.station-body{
    margin-left: auto;
}

.station-name{
    font-size: 13pt;
    font-weight: bold;
}
.station-logo {
    height: 20px;
    margin-right: 10px;
}

.station-buttons {
    margin-left: auto;
}

.station-btn {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: rgb(225, 245, 225);
    color: rgb(0, 138, 46);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.station-btn:hover {
    background-color: #218838;
    color: white;
}

.filter-options .filter-btn,
.sort-options .sort-btn {
    width: 30%;
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    transition: color 0.3s, background-color 0.3s;
}
.sort-btn:hover{
    color: blue;
}

.sort-btn.active {
    font-weight: bold;
    color: blue;
}

.filter-btn:hover{
    background-color: #218838;
    color:white;
}

.price-list {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.price-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.price-list ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.sort-indicator.distance{
    background-color: white;
    border: solid 1px red;
    color:red;
}
.sort-indicator.price{
    background-color: white;
    border: solid 1px green;
    color:green;
}

select{
    width: 29%;
    margin-right: 10px;
}

.search-filter{    
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-btn{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    background-color:rgb(33, 33, 71);
    color:white;
}

label{
    padding: 0px 10px;
}

.index{
    font-size: 11pt;
    width:100%;
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
}