@import '../scss/global.scss';
@import 'variables';
@import 'mixins';

.header-container {
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid $primary-color;

    .header-size {
        @include flex-center(space-around, center); 
    }

    // 로고 스타일
    .logo {
        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 30px;
            font-weight: bold;
        }
    }

    // 네비게이션 메뉴
    .nav-menu {
        ul {
            @include flex-center; 
            list-style: none;
            margin: 0px;
            padding: 0;

            li {
                margin: 0 15px;

                a {
                    text-decoration: none;
                    color: #333;
                    font-size: 18px;
                    font-weight: bold;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    // 로그인 및 회원가입 버튼
    .auth-buttons {
        button {
            @include mainButton-style; 
            margin-left: 10px;
        }
    }
}