// 기본 폰트 및 기타
$font-family: 'Arial, sans-serif';
$base-font-size: 16px;

// Header 색상 변수
$primary-color: #4caf50; // 메인 초록색
$secondary-color: #ff6600; // 로고 색상
$button-hover-bg: #4caf50;
$button-hover-text: white;


