// 색상 변수
$primary-color: #4caf50; // 메인 초록색
$secondary-color: #ff6600; // 로고 색상
$text-color: #333;
$button-hover-bg: #4caf50;
$button-hover-text: white;

// 폰트 및 기타
$font-family: 'Arial, sans-serif';
$base-font-size: 16px;

// 여백
$header-padding: 20px;