@import '../../scss/global.scss';
@import '../variables';
@import '../mixins';
@import "today-price";
@import "oilTrend";
@import "region-section";
@import "lowestPrice";

.main-container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.today-price-section {
    width: 100%; // 컨테이너 너비
    height: 450px; // 컨테이너 높이
    display: flex;
    justify-content: center;
    background-image: url('../../images/도로2.png'); // 이미지 경로
    background-size: cover; // 이미지 크기를 컨테이너에 맞게 조정
    background-position: center; // 이미지를 가운데 정렬
    background-repeat: no-repeat; // 이미지 반복 방지
}

.today-price {
    display: flex;
    position: relative;
    top: 350px;
}

.region-top-section {
    width: 100%;

    .region-top {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }
}