@import '../../scss/global.scss';
@import '../variables';
@import '../mixins';
@import "today-price";
@import "oilTrend";
@import "region-section";

.main-container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.today-price-section {
    display: flex;
    justify-content: center;
    background-image: url('../../images/도로2.png'); // 이미지 경로
    background-size: cover; // 이미지 크기를 컨테이너에 맞게 조정
    background-position: center; // 이미지를 가운데 정렬
    background-repeat: no-repeat; // 이미지 반복 방지
    width: 100%; // 컨테이너 너비
    height: 600px; // 컨테이너 높이
}

.today-price {
    display: flex;
    padding: 100px 70px;
    gap: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}