@import '../../scss/global.scss';
@import '../variables';
@import '../mixins';
@import "today-price";
@import "oilTrend";
@import "region-section";
@import "lowestPrice";

.main-container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.today-price-section {
    @include flex-center;
    width: 100%; // 컨테이너 너비
    height: 450px; // 컨테이너 높이
    background-image: url('../../images/도로3.png'); // 이미지 경로
    background-size: cover; // 이미지 크기를 컨테이너에 맞게 조정
    background-position: center; // 이미지를 가운데 정렬
    background-repeat: no-repeat; // 이미지 반복 방지
}

.region-top-section {
    .region-top {
        display: flex;
        justify-content: space-between;
        padding: 50px 10px;
        background-color: #f6f3f3;
    }
}

@media screen and (max-width: 450px) {
    .today-price-section {
        height: 0px; // 컨테이너 높이
    }

    .region-top-section {
        .region-top {
            display: flex;
            flex-direction: column;
            padding:0px;
            background-color: #f6f3f3;
            position: relative;
            top: 350px;
        }
    }

}