@import '../variables';
@import '../mixins';


.region-container {
    @include box-style;

    .title {
        padding: 8px 10px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid $primary-color;
    }

    // 컨트롤 영역 스타일
    .controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        // 드롭다운 스타일
        .dropdown {
            padding: 3px 10px;
            border: 1px solid #007bff;
            border-radius: 5px;
            font-size: 14px;
        }

        // 버튼 스타일
        .sort-buttons {
            button {
                padding: 5px 15px;
                margin: 0px 5px;
                border: none;
                background-color: #007bff;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                font-size: 14px;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }

    // 테이블 스타일
    .station-table {
        width: 360px;
        border-collapse: collapse;
        margin-top: 10px;
        font-size: 13px;

        th,
        td {
            // border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f4f4f4;
            font-weight: bold;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    }
}