<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- NULL 처리 설정 -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- Mapper 설정 -->
    <mappers>
        <!-- 개별 XML 명시 -->
        <mapper resource="mybatis/mappers/*.xml"/>
<!--        <mapper resource="mybatis/mappers/UserMapper.xml"/>-->
    </mappers>
</configuration>
